#movie-result {
  background:lightgrey;
  border: 1px solid black;
  font-size: 16px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#book-result {
  background:lightgrey;
  border: 1px solid black;
  font-size: 16px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  height: 2px;
  background-color: black;
}

#bok-result {
  background:lightgrey;
  border: 1px solid black;
  font-size: 16px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#bik-result {
  background:lightgrey;
  border: 1px solid black;
  font-size: 16px;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

h1 {
  font-size: 20px;
}

.backy {
  background-color: rgb(255,255,255);
  border: 1px solid black;
  
}